/*
Theme Name: OSPZ "ANIMALS" Theme
Author: Mateusz Procner
Author URI: https://wordpress.org/
Description: Theme for Ostrowieckie Stowarzyszenie Przyjaciół Zwierząt "ANIMALS"
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, blue, gray, pink, purple, white, yellow, dark, light, two-columns, left-sidebar, fixed-layout, responsive-layout, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: OSPZ "ANIMALS"

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
/**
 * 8.0 Alignments
 */

.alignleft {
	display: inline;
	float: left;
}

.alignright {
	display: inline;
	float: right;
}

.aligncenter {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

blockquote.alignleft,
.wp-caption.alignleft,
img.alignleft {
	margin: 0.4em 1.6em 1.6em 0;
}

blockquote.alignright,
.wp-caption.alignright,
img.alignright {
	margin: 0.4em 0 1.6em 1.6em;
}

blockquote.aligncenter,
.wp-caption.aligncenter,
img.aligncenter {
	clear: both;
	margin-top: 0.4em;
	margin-bottom: 1.6em;
}

.wp-caption.alignleft,
.wp-caption.alignright,
.wp-caption.aligncenter {
	margin-bottom: 1.2em;
}


/**
 * 9.0 Clearings
 */

.clear:before,
.clear:after,
.site:before,
.site:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-content:before,
.site-content:after,
.nav-links:before,
.nav-links:after,
.comment-navigation:before,
.comment-navigation:after,
.social-navigation ul:before,
.social-navigation ul:after,
.textwidget:before,
.textwidget:after {
	content: "";
	display: table;
}

.clear:after,
.site:after,
.entry-content:after,
.comment-content:after,
.site-content:after,
.nav-links:after,
.comment-navigation:after,
.social-navigation ul:after,
.textwidget:after {
	clear: both;
}
p {
    line-height: 1.5em;
}
p,span, div,a  {
    font-family: 'Marcellus', serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Courgette', sans-serif;
    transition: all 0.5s linear;
}
h1 *, h2 *, h3 *, h4 *, h5 *, h6 *, blockquote *, blockquote {
    font-family: 'Courgette', sans-serif;
}
blockquote {
    font-size: 14px;
}
h1 i.fa {
    transition: all 0.5s linear;
}
h1:hover {
    color: rgba(160,209,244,1);
}
h1:hover i.fa {
    transform: rotate(180deg);
}
body {
    background: url(img/bg.png);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.container {
    width: 1010px !important;
    margin: 0 auto;
}
#page {
    max-width: 1200px;
    margin: 0 auto;
}
#site-header {
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(160,209,244,1) 33%, rgba(122,193,66,1) 66%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(33%,rgba(160,209,244,1)), color-stop(66%,rgba(122,193,66,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(160,209,244,1) 33%,rgba(122,193,66,1) 66%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(160,209,244,1) 33%,rgba(122,193,66,1) 66%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(160,209,244,1) 33%,rgba(122,193,66,1) 66%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(160,209,244,1) 33%,rgba(122,193,66,1) 66%,rgba(255,255,255,1) 100%); /* W3C */
    /* background: -moz-linear-gradient(top, #ffffff 0%, #a0d1f4 46%, #7ac142 100%);  
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(46%,#a0d1f4), color-stop(100%,#7ac142));  
     background: -webkit-linear-gradient(top, #ffffff 0%,#a0d1f4 46%,#7ac142 100);
     background: -o-linear-gradient(top, #ffffff 0%,#a0d1f4 46%,#7ac142 100%);  
     background: -ms-linear-gradient(top, #ffffff 0%,#a0d1f4 46%,#7ac142 100%);  
     background: linear-gradient(to bottom, #ffffff 0%,#a0d1f4 46%,#7ac142 100%);*/
}
#site-header .header-image {
    text-align: center;
}
#logo-image {
    max-width: 100%;
    margin: 0 auto;
}

#content{
    background: #fff ;
    padding: 15px;
}
.page-shadow-container {
    box-shadow: black 0px 0px 20px 1px;
}

.sidebar-container {
    background: rgba(255,255,255,0.3);
    text-align: center;
    margin-top: 20px;
}
.content-container {
    background: rgba(255,255,255,0.3);

}

.content-footer {
    min-height: 200px;
    background: -rmoz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(122,193,66,1) 33%, rgba(165,100,49,1) 93%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(33%,rgba(122,193,66,1)), color-stop(93%,rgba(165,100,49,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(122,193,66,1) 33%,rgba(165,100,49,1) 93%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(122,193,66,1) 33%,rgba(165,100,49,1) 93%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(122,193,66,1) 33%,rgba(165,100,49,1) 93%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(122,193,66,1) 33%,rgba(165,100,49,1) 93%); /* W3C */
}

footer {
    margin-top: 20px;
    margin-bottom: 20px;
}
footer .footer-content {
    min-height: 50px;
    background-color: rgba(165,100,49,1);
}

.collar {
    /*height: 50px;*/
    width: 100%;
    /*background: url(img/obr.jpg);*/
    background: url(img/menu-collar-background.png) no-repeat center;
}

/* MENU */
#main-menu ul {
    list-style: none;
    height: 77px;
    margin: 0px;
    padding-top: 20px;
    text-align: center;
    margin-left: 30px;
}
#main-menu ul li {
    display: inline-block;
    /*background: url(img/menu-background.png) no-repeat center center;*/
    background-size: 100%;
    transition: all 1s linear;
    width: 150px;
}
#main-menu ul li:hover {
    /*background: url(img/menu-background-hover.png) no-repeat center center;*/
    background-size: 100%;

}
#main-menu ul li a {
    display: block;
    height: 100%;
    line-height: 35px;
    text-align: center;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.page-title a{
    color: #d93035;
}