body { 
	text-align: center; 
	background: url('img/bg.png');
}

#wrapper { 
	display: block; 
	width:980px; 
	margin: 0px;
	//border: 10px outset #9fd277;
	padding: 0px 10px;
	background: url('img/bg-wrapper.png') repeat-y; // #7ac142
}
#wrapper-t {
	display: block;
	width: 1000px;
	height: 20px;
	background: url('img/bg-wrapper-t.png') no-repeat;
}
#wrapper-b {
	display: block;
	width: 1000px;
	height: 20px;
	background: url('img/bg-wrapper-b.png') no-repeat;
}

#header {  
	height: 380px;
	background: url('img/header.png') no-repeat;
}

#content { 
	width: 500px;  
	float: right;  
	padding-bottom: 40px;
	margin: 10px;
	background: #9fd277 url('img/bg-content-b.png') no-repeat bottom center;
}
	
#sidebar { 
	width: 220px;  
	float: left;  
	padding-bottom: 40px;
	margin: 10px;
	background: #9fd277 url('img/bg-menu-b.png') no-repeat bottom center;
}
	
#delimiter { 
	clear: both;  
	background: aqua;
}
	
#footer { 
	width: 930px;
	padding: 15px;
	margin: 10px 10px 0px 10px;
	background: #9fd277 url('img/bg-footer-b.png') no-repeat bottom center;
}

.title { 
	font-size: 11pt; 
	font-family: verdana; 
	font-weight: bold; 
}

hr {
	border: 1px solid #7ac142;
}